<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- 有手機版的時候要放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <title>法考研究中心</title>

    <link href="/assets_front/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/account.css" rel="stylesheet" type="text/css" />

    <script src="/assets_front/javascripts/jquery_v1.10.2/jquery-1.10.2.min.js" language="javascript" type="text/javascript" ></script>
    <script src="/assets_front/javascripts/public.js" language="javascript" type="text/javascript" ></script>

  </head>
  <body lang="zh-tw">

    <div id='out_boxs'>
      <!-- 左邊：開始 -->
      <div class='Left_boxs'>
        <div class='close_boxs icon-close'></div>
        <a href='gu_01.html'   class='nav_boxs'>法考通关</a>
        <a href='an_01.html'   class='nav_boxs'>历年分值</a>
        <a href='book_01.html' class='nav_boxs'>法考24编</a>
        <a href='vo_01.html'   class='nav_boxs'>历年题库</a>
        <a href='test_01.html' class='nav_boxs'>模拟考试</a>
        <a href='time_01.html' class='nav_boxs'>时效成果</a>
        <a href='im_01.html'   class='nav_boxs'>重要公告</a>
        <a href='ac_01.html'   class='nav_boxs a_ac'>我的帐号</a>
      </div>
      <!-- 左邊：結束 -->

      <!-- 右邊：開始 -->
      <div class='Right_boxs'>
        <!-- 中間：開始 -->
        <div class='cent_boxs'>
          <div class='cent_content_box ac_cent_span'>
            <div class='ac_content pw_boxs'>
              <div class='ac_name pw_name'>忘记密码</div>
              <div class='ac_detail pw_detail'>请输入您注册时的手机号码，我们将发送一则验证码至您的手机</div>
            </div>

            <div class='ac_content pw_boxs'>
              <div class='ac_name'>手机号码</div>
              <input text='type' value='0123456789'></input>
            </div>

            <div class='ac_change btn_two'>
              <button class='ac_btn'>取消</button>
              <button class='ac_btn'>确定</button>
            </div>

          </div>
        </div>
        <!-- 中間：結束 -->



        <!-- 目錄：開始 -->
        <div class='catalog_boxs'>
          <div class='catalog_title'>我的帐号</div>
          <div class='catalog_content_boxs'>
            <div class='catalog_content_box'>
              <!-- 內容放置處 -->
              <div class='ca_deta_boxs'>
                <div class='ca_list_span'></div>
                <div class='ca_list_boxs'><a class='ca_ac'>我的帐号资讯</a></div>
                <div class='ca_list_boxs'><a>购买纪录</a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- 目錄：結束 -->
      </div>
      <!-- 右邊：結束 -->
    </div>

  </body>
</html>
