<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- 有手機版的時候要放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <title>法考研究中心</title>

    <link href="/assets_front/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/volume.css" rel="stylesheet" type="text/css" />

    <script src="/assets_front/javascripts/jquery_v1.10.2/jquery-1.10.2.min.js" language="javascript" type="text/javascript" ></script>
    <script src="/assets_front/javascripts/public.js" language="javascript" type="text/javascript" ></script>

  </head>
  <body lang="zh-tw">

    <div id='out_boxs'>
      <!-- 左邊：開始 -->
      <div class='Left_boxs'>
        <div class='close_boxs icon-close'></div>
        <a href='gu_01.html'   class='nav_boxs'>法考通关</a>
        <a href='an_01.html'   class='nav_boxs a_ac'>历年分值</a>
        <a href='book_01.html' class='nav_boxs'>法考24编</a>
        <a href='vo_01.html'   class='nav_boxs'>历年题库</a>
        <a href='test_01.html' class='nav_boxs'>模拟考试</a>
        <a href='time_01.html' class='nav_boxs'>时效成果</a>
        <a href='im_01.html'   class='nav_boxs'>重要公告</a>
        <a href='ac_01.html'   class='nav_boxs'>我的帐号</a>
      </div>
      <!-- 左邊：結束 -->

      <!-- 右邊：開始 -->
      <div class='Right_boxs'>
        <!-- 中間：開始 -->
        <div class='cent_boxs'>
          <!-- 上：開始 -->
          <div class='cent_top_boxs  im_top_height'>
            <div class='cent_top_L'>
              <span class='vo_title test_title'>法考24编历年分值分析表</span>
            </div>
            <div class='cent_top_R'>
              <button>小</button>
              <button class='vo_ac'>中</button>
              <button>大</button>                  
              <span>字体</span>
            </div>
          </div>
          <!-- 上：結束 -->


          <!-- 下：開始 -->
          <div class='cent_down_boxs'>
            <!-- 下左：開始 -->
            <div class='cent_down_L'>
              <div class='im_Lbg'>
                <div class='an_type_boxs'>
                  <span>理论篇</span>
                  <span>一編  第一編中国特色社会主义法治建设的基本理论</span>
                  <img src="/assets_front/images/an.png">
                </div>

                <div class='an_type_boxs'>
                  <span>二編  法理學</span>
                  <img src="/assets_front/images/an.png">
                </div>
              </div>
            </div>
            <!-- 下左：結束 -->


            <!-- 下右：開始 -->
            <div class='cent_down_R'>
              <div class='R_btn_boxs'>
                <div class='gray_boxs icon-hand'></div>
                <span>使用说明</span>
              </div>

              <div class='R_arrow_boxs'>
                <div class='arrow_box icon-chevron-left'></div>
                <div class='arrow_box icon-chevron-right'></div>
              </div>
            </div> 
            <!-- 下右：結束 -->
          </div> 
          <!-- 下：結束 -->
        </div>
        <!-- 中間：結束 -->



        <!-- 目錄：開始 -->
        <div class='catalog_boxs'>
          <div class='catalog_title'>历年分值</div>
          <div class='catalog_content_boxs'>
            <div class='catalog_content_box'>
              <!-- 內容放置處 -->
              <div class='ca_deta_boxs'>
                <div class='ca_list_span'></div>
                <div class='ca_list_boxs'><a class='ca_ac'>24编全部</a></div>
                <div class='ca_list_boxs'><a>理论篇1~5编</a></div>
                <div class='ca_list_boxs'><a>民法篇6~12编</a></div>
                <div class='ca_list_boxs'><a>刑法篇13编</a></div>
                <div class='ca_list_boxs'><a>行政法篇14编</a></div>
                <div class='ca_list_boxs'><a>诉讼法篇15~18编</a></div>
                <div class='ca_list_boxs'><a>商法篇20~21编</a></div>
                <div class='ca_list_boxs'><a>卷四篇24编</a></div>              
              </div>
            </div>
          </div>
        </div>
        <!-- 目錄：結束 -->
      </div>
      <!-- 右邊：結束 -->
    </div>

  </body>
</html>
