<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- 有手機版的時候要放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <title>法考研究中心</title>

    <link href="/assets_front/stylesheets/public.css" rel="stylesheet" type="text/css" />

    <script src="/assets_front/javascripts/jquery_v1.10.2/jquery-1.10.2.min.js" language="javascript" type="text/javascript" ></script>
    <script src="/assets_front/javascripts/public.js" language="javascript" type="text/javascript" ></script>

  </head>
  <body lang="zh-tw">

    <div id='out_boxs'>
      <!-- 左邊 -->
      <div class='Left_boxs'>
        <div class='close_boxs icon-close'></div>
        <a class='nav_boxs'>法考通关</a>
        <a class='nav_boxs'>历年分值</a>
        <a class='nav_boxs'>法考24编</a>
        <a class='nav_boxs'>历年题库</a>
        <a class='nav_boxs'>模拟考试</a>
        <a class='nav_boxs'>时效成果</a>
        <a class='nav_boxs'>重要公告</a>
        <a class='nav_boxs a_ac'>我的帐号</a>
      </div>


      <!-- 右邊 -->
      <div class='Right_boxs'>
        <!-- 中間 -->
        <div class='cent_boxs'>
          <!-- 上下分
          <div class='cent_top_boxs'>
            <div class='cent_top_L'></div>
            <div class='cent_top_R'></div>
          </div>

          <div class='cent_down_boxs'>
            <div class='cent_down_L'></div>
            <div class='cent_down_R'></div> 
          </div> 
          -->

          <div class='cent_content'></div>
        </div>


        <!-- 目錄 -->
        <div class='catalog_boxs'>
          <div class='catalog_title'>我的帐号</div>
          <div class='catalog_content_boxs'>
            <div class='catalog_content_box'>
              <!-- 內容放置處 -->

            </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
